
<h2><b>New Facebook Form Submission</b></h2>
<h3>Pocket Aces Real Estate</h3>
<p>
  A new form has been submitted from Facebook. Their information is outlined below and submitted to the <a href="https://docs.google.com/spreadsheets/d/1Xj-igcg5c7hWyDWg7vkyThmekbPQ0aMBg1rsDI39Sa4/">Google Sheets spreadsheet</a>.
  <ul>
    <li><b>Date:</b> <%= date %></li>
    <li><b>Name:</b> <%= name %></li>
    <li><b>Email:</b> <%= email %></li>
    <li><b>Phone:</b> <%= phone %></li>
    <li><b>Service Type:</b> <%= servicetype %></li>
  </ul>
</p>
